* {
    margin: 0;
    padding: 0;
  }
  
  #main-container {
    border: 2px solid black;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
  }
  
  .box {
    flex: 1;
    height: 5px;
  }
  